<%@albums.each do |album| %>
  <a href='/user/<%=current_user.id%>/albums/<%=album.id%>/photos'>
    <img src = '<%=album.photos.first.url%>' class = "thumbnails" id = "album-cover">
    <br>
    <div class = 'album'>
      <%= album.title %>
    </div>
  </a>
<% end %>
